@import "functions";

$white:    #fff !default;
$gray-100: #d3d3d3 !default;
$gray-200: #bdbdbd !default;
$gray-300: #a8a8a8 !default;
$gray-400: #929292 !default;
$gray-500: #7c7c7c !default;
$gray-600: #676767 !default;
$gray-700: #515151!default;
$gray-800: #3b3b3b!default;
$gray-900: #262626 !default;
$black:    #000 !default;

$primary: #005663 !default;
$secondary: #94C6CE !default;
$warning: #F0B66F !default;
$error: #FF3333;
$success: #1C843C;
$info: #095CB2;
$light: $gray-100 !default;
$dark: $gray-900 !default;


$blue:    #005663 !default;
$indigo:  #095CB2 !default;
$purple:  #885FBA !default;
//$pink:    #d63384 !default;
$red:     #FF3333 !default;
//$orange:  #fd7e14 !default;
$yellow:  #F0B66F !default;
$green:   #1C843C !default;
$teal:    #94C6CE !important;
$cyan:    #095CB2 !default;


$teal-100: tint-color($secondary, 80%) !default;
$teal-200: tint-color($secondary, 60%) !default;
$teal-300: tint-color($secondary, 40%) !default;
$teal-400: tint-color($secondary, 20%) !default;
$teal-500: $secondary !default;
$teal-600: shade-color($secondary, 20%) !default;
$teal-700: shade-color($secondary, 40%) !default;
$teal-800: shade-color($secondary, 60%) !default;
$teal-900: shade-color($secondary, 80%) !default;

$yellow-100: tint-color($warning, 80%) !default;
$yellow-200: tint-color($warning, 60%) !default;
$yellow-300: tint-color($warning, 40%) !default;
$yellow-400: tint-color($warning, 20%) !default;
$yellow-500: $warning !default;
$yellow-600: shade-color($warning, 20%) !default;
$yellow-700: shade-color($warning, 40%) !default;
$yellow-800: shade-color($warning, 60%) !default;
$yellow-900: shade-color($warning, 80%) !default;

// $light: #F2F2F2;
// $dark: #262626;
// $breadcrumb-border-radius:          null !default;
// $thumbnail-border-radius:           var(--#{$prefix}border-radius) !default;
// $progress-border-radius:            var(--#{$prefix}border-radius) !default;
// $badge-border-radius:               $border-radius !default;
// $form-range-track-border-radius:  1rem !default;
// $form-check-radio-border-radius:          50% !default;
// $form-switch-border-radius:       $form-switch-width !default;
// $navbar-toggler-border-radius:      $btn-border-radius !default;
// $nav-link-color:                    var(--#{$prefix}link-color) !default;
// $nav-link-hover-color:              var(--#{$prefix}link-hover-color) !default;
// $nav-link-font-weight: bold;
// $btn-font-weight: bold !default;
// $card-border-color:  $teal-500;

$font-size-root: 18px !default;
$font-size-base:  1rem !default;
$headings-font-weight: 400;
$headings-color: $primary;
$link-color: $info !default;

//BORDER RADIUS
$accordion-border-radius:  0 !default;
$accordion-inner-border-radius: 0 !default;
$card-border-radius:  0 !default;
$card-inner-border-radius: 0 !default;
$btn-border-radius:   0 !default;
$tooltip-border-radius: 0 !default;
$modal-content-border-radius: 0 !default;
$modal-content-inner-border-radius: 0 !default;
$popover-border-radius: 0 !default;
$popover-inner-border-radius: 0 !default; // stylelint-disable-line function-disallowed-list
$toast-border-radius: 0 !default;
$alert-border-radius:  0 !default;
$list-group-border-radius: 0 !default;
$form-select-border-radius: 0 !default;
$input-border-radius:  0 !default;
$form-check-input-border-radius: 0 !default;
$nav-tabs-border-radius: 0 !default;
$nav-pills-border-radius: 0 !default;
$dropdown-border-radius: 0 !default;
$dropdown-inner-border-radius: 0 !default; // stylelint-disable-line
$pagination-border-radius: 0 !default; 

//NAV TABS
$nav-tabs-border-color:             $teal-500 !default;
$nav-tabs-link-hover-border-color: $teal-500 !default;
$nav-tabs-link-active-color:       $dark !default;
$nav-tabs-link-active-bg:          $secondary !default;
$nav-tabs-link-active-border-color: $teal-500 !default;

//NAV PILLS
$nav-pills-link-active-color: $dark !default;
$nav-pills-link-active-bg: $secondary !default;


//ACCORDION
$accordion-icon-color: $dark !default;
$accordion-icon-active-color: $dark !default;
// $accordion-button-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$accordion-icon-color}' class='bi bi-plus-circle-fill' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z'/%3E%3C/svg%3E") !default;
// $accordion-button-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$accordion-icon-active-color}' class='bi bi-plus-circle-fill' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z'/%3E%3C/svg%3E") !default;
$accordion-button-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$accordion-icon-color}' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E") !default;
$accordion-button-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$accordion-icon-color}' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E") !default;
$accordion-icon-transform: rotate(-135deg) !default;

.your-class{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
}

//  DEFAULT STYLES
*{
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1{
  font-weight: 500 !important;
}

a{
  font-weight: 600;
}

ul{
  li{
    list-style-type: square;
    &::marker{
      color: $primary;
    }
  }
}

ol{
  li{
    &::marker{
      color: $primary;
    }
  }
}

.btn{
  &:hover{
    box-shadow: 0px 6px 6px #00000029;
  }
}

.alert-secondary{
  color: $teal-800 !important;
  background-color: $teal-100 !important;
  border-color: $teal-500 !important;
}

// ACCORDION
.accordion{
  .accordion-item{
    .accordion-header{
      .accordion-button{
        font-size: $font-size-base * 1.25;
        font-weight: bold;
        &::after{
          background-color: $warning;
          font-weight: bold;
          border-radius: 5rem;
        }
      }
    }
  }
}

//LIST GROUP
.list-group{
  .list-group-item{
    border-color: $teal-500;
    &:hover{
      background-color: $teal-200;
      border: 1px solid $teal-500 !important;
    }
    &.active{
      background-color: $secondary;
      color: $dark;
      border-color: $secondary;
      font-weight: bold;
    }
  }
}


// READ MORE
.accordion1{
  .accordion-item{
    border-color:  $teal-500 !important;
    &.active{
      border-color:  $teal-500 !important;
    }
    .accordion-header{
      .accordion-button{
        &:hover{
          background-color: $teal-200 !important;
        }
      }
    }
  }
}


//NAVBAR
.navbar{
  .container{
    .navbar-brand{
      #navbarImg{
        max-width: 250px;
        height: auto;
      }
    }
    .navbar-collapse{
      .navbar-nav{
        li{
          list-style-type: none;
          a{
            padding: 1rem;
            color: $white;
            &:hover{
              background-color: $secondary;
              color: $dark !important;
              font-weight: 400;
            }
            &.active{
              background-color: $secondary;
              color: $dark;
              font-weight: 600;
              border-bottom: 3px solid $warning;
              box-shadow: 0px 6px 6px #00000029;
            }
          }
          &.dropdown{
            .dropdown-menu{
              li{
                a{
                  padding: .5rem !important;
                  &:hover{
                    background-color: $secondary;
                    color: $primary;
                    border-bottom: none !important;
                  }
                  &.active{
                    background-color: $secondary;
                    color: $primary;
                    border-bottom: 3px solid $warning;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// PAGINATION
nav{
  .pagination{
    .page-item{
      list-style-type: none !important;
      .page-link{
        color: $primary;
        border-color: $teal-500;

        &.active{
          background-color: $secondary;
          border: 1px solid $secondary;
          border-bottom: 2px solid $warning;
          color: $dark;
        }
        &:hover{
          background-color: $teal-200;
          border: 1px solid $teal-500 !important;
          color: $dark;
        }
      }
    }
  }
}
//NAV PILLS
.nav{
  &.nav-pills{
    .nav-item{
      list-style-type: none !important;
      .nav-link{
        color: $primary;
        &.active{
          color: $dark;
          font-weight: bold;
          border-bottom: 3px solid $warning !important;
          border-right: none !important;
        }
        &:hover{
          background-color: $teal-200;
          border: 1px solid $teal-500 !important;
          color: $dark;
        }
      }
    }
    .nav-link{
      color: $primary;
      &.active{
        font-weight: bold;
        border-right: 3px solid $warning !important;
      }
      &:hover{
        background-color: $teal-200;
        border: 1px solid $teal-500 !important;
        color: $dark;
      }
    }
  }
}
//NAV TABS
.nav-tabs{
  .nav-link{
    color: $primary;
    &:hover{
      background-color: $teal-200;
      border: 1px solid $teal-500 !important;
      color: $dark;
      // border-bottom: 3px solid $warning !important;
    }
    &.active{
      border-bottom: 3px solid $warning !important;
      font-weight: bold;
    }
  }
}

//CARDS
.card1, .card3{
  .card-header{
    border-bottom-width: 3px;
  }
}

.card2{
  border-color:  $secondary !important;
  .card-header{
    border-bottom: 3px solid $warning;
  }
}

.lobbyCard{
  .card-header{
    p{
      font-size: 1.4rem;
    }
  }
}

.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label, .form-check-input:disabled {
  opacity: 1 !important;
}




#table2{
  $table-striped-color:         $teal-200 !default;
  // border-color:  $teal-500 !important;
  // thead{
  //   tr{
  //     th{
  //       color: $primary;
  //     }
  //   }
  // }
}


  // Variables come next
  @import "variables";
  @import "variables-dark";
  @import "maps";
  @import "mixins";
  @import "utilities";

  // Layout & components
  @import "root";
  @import "reboot";
  @import "type";
  @import "images";
  @import "containers";
  @import "grid";
  @import "tables";
  @import "forms";
  @import "buttons";
  @import "transitions";
  @import "dropdown";
  @import "button-group";
  @import "nav";
  @import "navbar";
  @import "card";
  @import "accordion";
  @import "breadcrumb";
  @import "pagination";
  @import "badge";
  @import "alert";
  @import "progress";
  @import "list-group";
  @import "close";
  @import "toasts";
  @import "modal";
  @import "tooltip";
  @import "popover";
  @import "carousel";
  @import "spinners";
  @import "offcanvas";
  @import "placeholders";

  // Helpers
  @import "helpers";

  // Utilities
  @import "utilities/api";
  // scss-docs-end import-stack

